DEBUG=True
SECRET_KEY=random_secret

DJANGO_SETTINGS_MODULE=config.settings.base

DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password


# Database for code testing
TEST_DB_USER=db_user
TEST_DB_PASSWORD=db_password